<!-- wp:template-part {"slug":"header","theme":"pro-portfolio","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"backgroundColor":"background"} -->
<main class="wp-block-group has-background-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:cover {"overlayColor":"background-secondary","isUserOverlayColor":true,"minHeight":290,"minHeightUnit":"px","isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"8vw","right":"30px","bottom":"8vw","left":"30px"},"margin":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-cover alignfull is-light" style="margin-top:0;margin-bottom:0;padding-top:8vw;padding-right:30px;padding-bottom:8vw;padding-left:30px;min-height:290px"><span aria-hidden="true" class="wp-block-cover__background has-background-secondary-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0px"><!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search ......","width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true,"align":"center","backgroundColor":"primary","textColor":"background","fontSize":"big"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","right":"20px","bottom":"80px","left":"20px"},"blockGap":"0px"}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:80px;padding-right:20px;padding-bottom:80px;padding-left:20px"><!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"className":"alignwide","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"className":"has-box-shadow ","style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"},"blockGap":"0px"},"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"},"top":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"},"width":"2px","color":"var:preset|color|background-secondary"},"right":{"color":"#ffffff00","width":"2px"},"bottom":{"color":"#ffffff00","width":"2px"},"left":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"},"width":"2px","color":"var:preset|color|background-secondary"}},"color":{"gradient":"linear-gradient(140deg,rgb(236,240,243) 0%,rgb(255,255,255) 100%)"}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group has-box-shadow has-background" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-color:var(--wp--preset--color--background-secondary);border-top-width:2px;border-right-color:#ffffff00;border-right-width:2px;border-bottom-color:#ffffff00;border-bottom-width:2px;border-left-color:var(--wp--preset--color--background-secondary);border-left-width:2px;background:linear-gradient(140deg,rgb(236,240,243) 0%,rgb(255,255,255) 100%);padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:post-featured-image {"aspectRatio":"3/2","style":{"border":{"radius":{"topLeft":"8px","topRight":"8px","bottomLeft":"8px","bottomRight":"8px"}}}} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"20px"},"margin":{"top":"0px"},"blockGap":"10px"},"border":{"width":"0px","style":"none"}}} -->
<div class="wp-block-group alignwide" style="border-style:none;border-width:0px;margin-top:0px;padding-top:20px"><!-- wp:post-title {"level":3,"isLink":true,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"600","lineHeight":"1.3","textTransform":"capitalize","fontSize":"1.5rem"},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"textColor":"foreground"} /-->

<!-- wp:post-excerpt {"moreText":"Know More","showMoreOnNewLine":false,"excerptLength":12,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"boulder"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"center","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous {"fontSize":"small"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"fontSize":"small"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->
 
<!-- wp:template-part {"slug":"footer","theme":"pro-portfolio","tagName":"footer"} /-->